* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 50px;
    max-width: 100%;

}

.container__one {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    height: 200px;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.container__one__name {
    font-size: 40px;
}

.container__one__role {

    font-size: 20px;
    margin-top: 10px;
}

.container__one__button {
    margin-top: 10px;
    background-color: rgb(72, 163, 197);
    color: black;
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container__two,
.container__three,
.container__four,
.container__six {

    padding-top: 30px;
}

.container__two__disc {

    padding-top: 20px;
    padding-left: 10px;
}

.container__three__list li {
    list-style-type: none;
}

.container__four__title1 li {
    list-style-type: none;
}

.container__four__title2 li {
    list-style-type: none;
}

.container__six {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.container__six__media a {
    margin: 0 10px;
    color: rgb(141, 212, 223);
    text-decoration: underline;
}

.main__container {

    display: flex;
    margin-top: 30px;
}

.container__three {

    background-color: rgb(72, 72, 254);
    color: black;
    padding: 15px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container__four {

    background-color: orange;
    color: black;
    padding: 15px;
    margin: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/* contact page */

.contact__form{

    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 30%;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    line-height: 2;
    
    
}

.contact__form h1{
    text-align: center;
}

.contact__form_input form{

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;

}

.contact__form_input form input{

    padding: 10px;
    border-color: black;
    border-width: 2px;
    width: 100%;
}

.contact__form_input form textarea{

    padding: 10px;
    border-color: black;
    border-width: 2px;
    width: 100%;
}

.class__form__button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.class__form__button:hover{
    cursor: pointer;
}

@media  screen and (max-width:350px) {
    .contact__form{
       padding: 50px;
    
    }
}

@media  screen and (max-width:412px) {
    .contact__form{
       max-width: 100%;
    }
}

.contact__form__info p{
    display: block;
}

.container{
        max-width: 100%;
        padding: 10px;
        padding-top: 50px;

    }

@media  screen and (max-width:882px) {
    .contact__form{
        width: 70%;
    }

    .container{
        width: 100%;
    }
}

@media  screen and (max-width:1024px) {
    .contact__form{
        width: 60%;
    }

    .container{
        width: 100%;
    }
}